:root {
	--main-color: #001032;
	--main-font-color: #e6eaf6;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	touch-action: none;
}

body {
	min-width: 320px;
	height: 100vh;
	font-family: Arial, sans-serif;
	background-color: var(--main-color);
	color: var(--main-font-color);
}

.image {
	width: 100%;
	height: auto;
}

.clicker {
	display: grid;
	grid-template-columns: 1fr 35%;
	grid-template-rows: 40px 1fr 40px;
	grid-template-areas: 
		"header header"
		"main column"
		"footer footer";
	gap: 20px;
	height: 100%;
}

/* Контейнер шапки */
.clicker__header {
	display: grid;
	grid-area: header;
	grid-template-columns: inherit;
	border-bottom: 1px solid var(--main-font-color);
	border-radius: 0 0 10px 10px;
}

.clicker__stats,
.clicker__settings {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 10px;
	gap: 14px;
}

/* Блок характеристики в шапке */
.clicker__stats {
	grid-column: 1 / 2;
}

.clicker__stats .list__item {
	display: flex;
	align-items: center;
	gap: 6px;
}

.clicker__stats .list__item .item__image {
	width: 24px;
}

/* Блок настроек в шапке */
.clicker__settings {
	grid-column: 2 / 3;
	border-left: 1px solid var(--main-font-color);
}

.clicker__settings .clicker__reset{
	background-color: #d54a4a;
    padding: 4px 8px;
    border-radius: 4px;
	text-transform: uppercase;
	font: 600 12px sans-serif;
}

.clicker__settings .clicker__reset:hover{
	filter: brightness(85%);
	cursor: pointer;
}

/* Основной блок нажатия */
.clicker__main {
	display: grid;
	place-items: center;
	grid-area: main;
}

.clicker__main .clicker__container__counter {
	text-align: center;
	margin-bottom: 30px;
	padding: 10px;
	background-color: rgba(255, 255, 255, .6);
	border-radius: 10px;
}

.clicker__main .clicker__container__image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
    overflow: hidden;
	transition: transform 0.1s ease;
}

.clicker__main .clicker__container__image:active {
	transform: scale(0.95);
}

.clicker__main .clicker__container__image .clicker__image {
	width: 100%;
	cursor: pointer;
}

/* Блок колонки улучшений */
.clicker__column {
	grid-area: column;
	border: 1px solid var(--main-font-color);
	border-right: none;
	border-radius: 10px 0 0 10px;
	overflow: hidden;
}

.clicker__column .clicker__item{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.clicker__column .clicker__item:hover{
	background-color: rgba(0, 0, 0, .2);
	cursor: pointer;
}

.clicker__column .clicker__item .item__left,
.clicker__column .clicker__item .item__right{
	display: flex;
	align-items: center;
	gap: 6px;
}

.clicker__item .item__left .item__image{
	width: 22px;
	height: 22px;
}

.clicker__item .item__right .item__image{
	width: 16px;
	height: 16px;
}

/* Контайнер подвала */
.clicker__footer {
	grid-area: footer;
	border-top: 1px solid var(--main-font-color);
	border-radius: 10px 10px 0 0;
	text-align: center;
	padding: 10px;
}

.clicker__footer .footer__copyright {
	color: var(--main-font-color);
	text-decoration: none;
	font-style: italic;
}